<div class="simple-form">

    <div class="form-group">
        <label for="hostname">HostName</label>
        <input @bind="Hostname" type="text" class="form-control" id="hostname" placeholder="Enter new Host" />
    </div>

    <button @onclick="SubmitForm" class="btn btn-primary">Add</button>
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    string Hostname { get; set; }

    protected override void OnInitialized() => BlazoredModal.SetTitle("Enter New Host Name");

    async Task SubmitForm() => await BlazoredModal.Close(ModalResult.Ok(Hostname));
    async Task Cancel() => await BlazoredModal.Cancel();
}